<div class="daily-container">
  <h4 class="page-title">Daily Data</h4>
  <div class="row">
    <div class="filter-container col-sm-12">
      <h5 class="page-title">Filter By</h5>
      <form [formGroup]="dataForm" (ngSubmit)="updateData()">
        <div class="row data-filter">
          <div class="col-sm-4"></div>
          <div class="filter-category col-sm-2">
            <div class="field-title">Year</div>
            <mat-select formControlName="year" class="filter-option form-control">
              <mat-option value="">Select</mat-option>
              <mat-option [value]="y.year" *ngFor="let y of years">{{y.year}}</mat-option>
            </mat-select>
          </div>
          <div class="filter-category col-sm-2">
            <div class="field-title">Month</div>
            <mat-select formControlName="month" class="filter-option form-control">
              <mat-option value="">Select</mat-option>
              <ng-container *ngIf="dataForm.get('year').value !== null && dataForm.get('year').value !== ''">
                <mat-option [value]="month" *ngFor="let month of months">{{month}}</mat-option>
              </ng-container>
            </mat-select>
          </div>
          <div class="col-sm-4"></div>
        </div>
        <div class="row button-wrapper">
          <button mat-raised-button [disabled]="!dataForm.valid" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
  <div class="data-container mat-elevation-z8" [ngClass]="{'showTableWrapper': dataLoaded}">
    <div #tableTop></div>
    <table mat-table [dataSource]="dailyDataSource">
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <ng-container matColumnDef="office">
        <th mat-header-cell *matHeaderCellDef> Office </th>
        <td mat-cell *matCellDef="let element"> {{element.officeName}} </td>
      </ng-container>

      <ng-container matColumnDef="repId">
        <th mat-header-cell *matHeaderCellDef> Rep ID </th>
        <td mat-cell *matCellDef="let element"> {{element.repId}} </td>
      </ng-container>

      <ng-container matColumnDef="vehicle">
        <th mat-header-cell *matHeaderCellDef> Vehicles </th>
        <td mat-cell *matCellDef="let element"> {{element.vehicleName}} </td>
      </ng-container>

      <ng-container matColumnDef="sold">
        <th mat-header-cell *matHeaderCellDef> Sold </th>
        <td mat-cell *matCellDef="let element"> {{element.sold}} </td>
      </ng-container>

      <ng-container matColumnDef="pulled">
        <th mat-header-cell *matHeaderCellDef> Pulled </th>
        <td mat-cell *matCellDef="let element"> {{element.pulled}} </td>
      </ng-container>

      <ng-container matColumnDef="clients">
        <th mat-header-cell *matHeaderCellDef> New Clients </th>
        <td mat-cell *matCellDef="let element"> {{element.newClients}} </td>
      </ng-container>

      <ng-container matColumnDef="credit">
        <th mat-header-cell *matHeaderCellDef> Credit </th>
        <td mat-cell *matCellDef="let element"> {{element.credit}} </td>
      </ng-container>

      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef> Balance </th>
        <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
      </ng-container>

      <ng-container matColumnDef="unused">
        <th mat-header-cell *matHeaderCellDef> Unused </th>
        <td mat-cell *matCellDef="let element"> {{element.unused}} </td>
      </ng-container>

      <ng-container matColumnDef="in">
        <th mat-header-cell *matHeaderCellDef> In </th>
        <td mat-cell *matCellDef="let element"> {{element.inuse}} </td>
      </ng-container>

      <ng-container matColumnDef="day1">
        <th mat-header-cell *matHeaderCellDef> Day 1 </th>
        <td mat-cell *matCellDef="let element"> {{element.t1}} </td>
      </ng-container>

      <ng-container matColumnDef="day2">
        <th mat-header-cell *matHeaderCellDef> Day 2 </th>
        <td mat-cell *matCellDef="let element"> {{element.t2}} </td>
      </ng-container>

      <ng-container matColumnDef="st">
        <th mat-header-cell *matHeaderCellDef> St </th>
        <td mat-cell *matCellDef="let element"> {{element.st}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.repName}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"
        (click)="highlightRow(i)"
        [ngClass]="{'highlight-row': i === selectedIndex}">
      </tr>
    </table>
    <div #paginatorContainer>
      <div class="paginator-container">
        <mat-paginator [pageSize]="200" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
  <mat-progress-spinner
    *ngIf="!dataLoaded"
    class="app-spinner"
    mode="indeterminate">
  </mat-progress-spinner>
  <div class="scroll-container" *ngIf="dataLoaded">
    <div class="scrollTo">
      <i class="material-icons" (click)="scroll(tableTop)">expand_less</i>
    </div>
    <div class="scrollTo">
      <i class="material-icons" (click)="scroll(paginatorContainer)">expand_more</i>
    </div>
  </div>
  <ng-template #placeholderText>
    <p class="placeholderText">{{placeHolderText}}</p>
  </ng-template>
</div>

