@import "../../../assets/scss/variables.scss";

.daily-container {
  .page-title {
    margin: 1rem 0 3rem 0;
    text-align: center;
    color: $primary-color;
    font-weight: 700;
  }

  .mat-progress-spinner {
    position: absolute;
    top: 45%;
    left: 45%;
  }

  .data-container {
    overflow: auto;
    height: 68vh;
    position: relative;

    table {
      width: 100%;
    }
  }

  .scroll-container {
    position: absolute;
    bottom: 24vh;
    right: 3rem;

    .scrollTo {
      margin: 3rem 0;
      .material-icons {
        padding: 0.5rem;
        background: $primary-color;
        border-radius: 100%;
        color: $white;
        cursor: pointer;
        opacity: 0.6;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .filter-container {
    .page-title {
      margin: 1rem 0;
    }
    
    .field-title {
      text-align: center;
      margin-bottom: 1rem;
    }

    .button-wrapper {
      margin: 1.5rem 0;
      justify-content: center;
    }
  }
}