@import "../../../assets/scss/variables.scss";

.daily-container {
  .page-title {
    margin: 1rem 0 3rem 0;
    text-align: center;
    color: $primary-color;
    font-weight: 700;
  }

  .mat-progress-spinner {
    position: absolute;
    top: 45%;
    left: 45%;
  }

  table {
    width: 100%;
  }
}

::ng-deep {
  .mat-paginator {
    .mat-paginator-container {
      justify-content: center;
      .mat-paginator-navigation-first, .mat-paginator-navigation-last {
        display: none;
      }
  
      .mat-paginator-range-label {
        display: none;
      }
  
      .mat-paginator-navigation-next, .mat-paginator-navigation-previous {
        outline: none;
      }
    }
  }
}

