<div class="daily-container">
  <h4 class="page-title">Daily Data</h4>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dailyDataSource" matSort>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <ng-container matColumnDef="office">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Office </th>
        <td mat-cell *matCellDef="let element"> {{element.office}} </td>
      </ng-container>

      <ng-container matColumnDef="repId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rep ID </th>
        <td mat-cell *matCellDef="let element"> {{element.repId}} </td>
      </ng-container>

      <ng-container matColumnDef="vehicle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vehicles </th>
        <td mat-cell *matCellDef="let element"> {{element.vehicle}} </td>
      </ng-container>

      <ng-container matColumnDef="sold">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Sold </th>
          <td mat-cell *matCellDef="let element"> {{element.sold}} </td>
        </ng-container>

      <ng-container matColumnDef="pulled">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Pulled </th>
        <td mat-cell *matCellDef="let element"> {{element.pulled}} </td>
      </ng-container>

      <ng-container matColumnDef="clients">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> New Clients </th>
        <td mat-cell *matCellDef="let element"> {{element.clients}} </td>
      </ng-container>

      <ng-container matColumnDef="credit">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Credit </th>
        <td mat-cell *matCellDef="let element"> {{element.credit}} </td>
      </ng-container>

      <ng-container matColumnDef="balance">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Balance </th>
        <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
      </ng-container>

      <ng-container matColumnDef="unused">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Balance </th>
        <td mat-cell *matCellDef="let element"> {{element.unused}} </td>
      </ng-container>

      <ng-container matColumnDef="in">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> In </th>
        <td mat-cell *matCellDef="let element"> {{element.in}} </td>
      </ng-container>

      <ng-container matColumnDef="day1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Day 1 </th>
        <td mat-cell *matCellDef="let element"> {{element.day1}} </td>
      </ng-container>

      <ng-container matColumnDef="day2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Day 2 </th>
        <td mat-cell *matCellDef="let element"> {{element.day2}} </td>
      </ng-container>

      <ng-container matColumnDef="st">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> St </th>
        <td mat-cell *matCellDef="let element"> {{element.st}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index;"
        (click)="highlightRow(i)"
        [ngClass]="{'highlight-row': i === selectedIndex}">
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 100]" showFirstLastButtons></mat-paginator>
  </div>
</div>
