html, body {
  font-family: 'Open Sans', cursive;

  .custom-border {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background: $white;
  }

  .mat-raised-button {
    background-color: $primary-color;
    color: $white;
    font-weight: 600;

    &:focus {
      outline: none;
    }
  }

  .mat-input-element {
    border: 1px solid $border-grey;
  }

  .mat-paginator-page-size-select {
    .mat-select-value {
      text-align: center;
    }
  }

  .mat-header-cell {
    font-size: 1rem;
    font-weight: bold;
    color: $primary-color;

    .mat-sort-header-button {
      &:focus {
        outline: none;
      }
    }

    .mat-sort-header-arrow {
      color: $primary-color;
    }
  }

  .mat-snack-bar-container {
    background: $primary-color;
    color: $white;

    &.warning {
      background: $red;
    }
  }

  .mat-row {
    cursor: pointer;

    &.highlight-row {
      background-color: $primary-light-color;
      .mat-cell {
        color: $white;
      }
    }

    &:hover {
      background: $primary-light-color;

      .mat-cell {
        color: $white;
      }
    }
  }

  .form-control {
    &:focus {
      box-shadow: none;
      border-color: $border-grey;
    }

    &[readonly] {
      background-color: #e9ecef;
    }
  }

  .page-title {
    margin: 1rem 0 3rem 0;
    text-align: center;
    color: $primary-color;
    font-weight: 700;
  }

  .error-message {
    color: $red;
  }

  .mat-progress-spinner {
    position: absolute;
    top: 45%;
    left: 46%;
    
    circle {
      stroke: $primary-color;
    }
  }

  .mat-paginator {
    .mat-paginator-container {
      justify-content: center;
    }
  }

  .daily-container {
    .mat-paginator {
      .mat-paginator-range-actions {
        .mat-paginator-navigation-first, .mat-paginator-navigation-last {
          display: none;
        }
    
        .mat-paginator-range-label {
          display: none;
        }
    
        .mat-paginator-navigation-next, .mat-paginator-navigation-previous {
          outline: none;
        }
      }
    }
  }

  .office-container {
    .mat-sort-header-container {
      justify-content: center;
    }
  }

  .dashboard-container {
    .mat-header-cell {
      font-size: 0.7rem;
    }

    td.mat-cell, th.mat-header-cell {
      &:first-of-type {
        padding-left: 0.5rem;
      }
    }

    td.mat-cell, th.mat-header-cell {
      &:last-of-type {
        padding-right: 0.5rem;
      }
    }
  }

  .rep-container {
    .mat-form-field-underline {
      display: none;
    }
  
    .ng-valid + .mat-form-field-label-wrapper {
      display: none;
    }
  
    .mat-form-field-label-wrapper {
      margin-left: 0.5rem;
    }
  }

  .vehicle-container {
    .mat-sort-header-container {
      justify-content: center;
    }
  }
  
  .placeholderText {
    position: absolute;
    top: 49%;
    left: 43%;
    opacity: 0.4;
  }

  .mat-drawer-container {
    background: $app-bg-color;
    min-height: 79vh;
  }

  .mat-radio-button {
    &.mat-accent {
      &.mat-radio-checked {
        .mat-radio-outer-circle {
          border-color: $primary-color;
        }

        .mat-radio-inner-circle, .mat-radio-persistent-ripple, .mat-ripple-element {
          background-color: $primary-color;
        }
      }
    }
  }

  .mat-calendar-body-cell {
    .mat-calendar-body-cell-content {
      &.mat-calendar-body-today {
        background-color: $primary-color !important;
        border-color: transparent;
        color: $white;
      }
    }
  }

  .mat-calendar-previous-button, .mat-calendar-next-button {
    &:focus {
      outline: none;
    }
  }
}