@import "../../../assets/scss/variables.scss";

.total-container {
  .row {
    margin-bottom: 3rem;
    justify-content: space-between;

    mat-label {
      color: $primary-color;
    }

    .col-3 {
      mat-label {
        display: block;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      input {
        padding-left: 0.5rem;
      }

      * {
        width: 100%;
      }
    }
  }
}
