<div class="total-container">
  <div class="row">
    <div class="col-3">
      <input matInput placeholder="TransFlex Hire Starts">
    </div>
    <div class="col-3">
      <input matInput placeholder="Reflex Hire Starts">
    </div>
    <div class="col-3">
      <input matInput placeholder="Northgate Hire Starts">
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <input matInput placeholder="TransFlex Ends">
    </div>
    <div class="col-3">
      <input matInput placeholder="Reflex Ends">
    </div>
    <div class="col-3">
      <input matInput placeholder="Northgate Ends">
    </div>
  </div>
</div>
