@import "../../../assets/scss/variables.scss";

.total-container {
  .row {
    margin-bottom: 2rem;

    mat-label {
      text-align: center;
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
      color: $primary-color;
      font-weight: 600;
    }

    .search-wrapper {
      display: flex;
      justify-content: center;
    }

    &.total-table-wrapper {
      table {
        width: 100%;
      }
      
      .placeholderText {
        position: relative;
        top: 0;
        left: 0;
      }
    }
  }

  .date-wrapper {
    input {
      padding: 0 0.5rem;
    }

    .mat-datepicker-toggle {
      position: absolute;
      right: 1rem;
      bottom: 0%;
    }

    .mat-datepicker-toggle-active {
      color: $primary-color;
    }
  }
}
