<div class="total-container">
  <h4 class="page-title">Total</h4>
  <div class="row">
    <div class="col-3">
      <mat-label>TransFlex Hire Starts</mat-label>
      <input matInput [value]="startDate">
    </div>
    <div class="col-3">
      <mat-label>Reflex Hire Starts</mat-label>
      <input matInput [value]="startDate">
    </div>
    <div class="col-3">
      <mat-label>Northgate Hire Starts</mat-label>
      <input matInput [value]="startDate">
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <mat-label>TransFlex Ends</mat-label>
      <input matInput [value]="endDate">
    </div>
    <div class="col-3">
      <mat-label>Reflex Ends</mat-label>
      <input matInput [value]="endDate">
    </div>
    <div class="col-3">
      <mat-label>Northgate Ends</mat-label>
      <input matInput [value]="endDate">
    </div>
  </div>

  <div class="row">
      <div class="col-3">
        <mat-label>TransFlex Hire Count</mat-label>
        <input matInput [value]="transFlexHireCount">
      </div>
      <div class="col-3">
        <mat-label>Reflex Hire Count</mat-label>
        <input matInput [value]="reflexHireCount">
      </div>
      <div class="col-3">
        <mat-label>Northgate Hire Count</mat-label>
        <input matInput [value]="northgateHireCount">
      </div>
    </div>
</div>
