@import "../../../assets/scss/variables.scss";

.sidenav-container {
  margin: 1rem 0;
  
  .sidenav-links-container {
    .sidenav-links {
      width: 100%;
      list-style-type: none;
      margin: 0;
      padding: 0;

      .sidenav-link {
        padding: 0.85rem;
        border-bottom: 1px solid $light-grey;

        &:focus {
          outline: none;
        }

        &:hover, &.active {
          background: $primary-light-color;
          cursor: pointer;

          a {
            color: $white;
            font-weight: bold;
          }
        }

        a {
          text-decoration: none;
          display: block;
          text-align: center;
          color: $black;
        }
      }
    }

    .toggle-close-control {
      display: flex;
      align-items: center;

      .material-icons {
        font-size: 2.5rem;
        color: $primary-color;
        cursor: pointer;
      }

      .toggle-label {
        text-transform: uppercase;
        margin-left: 0.5rem;
        font-weight: bold;
        color: $primary-color;
        cursor: pointer;
      }
    }
  }

  .main-content {
    padding: 0 1rem 1rem 1rem;

    .toggle-control {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: absolute;
      top: 0.5rem;
      z-index: 10;

      .material-icons {
        font-size: 2.5rem;
        color: $primary-color;
      }

      .toggle-label {
        text-transform: uppercase;
        margin-left: 0.5rem;
        font-weight: bold;
        color: $primary-color;
      }
    }

    .section-content {
      min-height: 65vh;
    }
  }
}

@media (max-width: 1024px) {
  .sidenav-container {
    .sidenav-links-container {
      .navbar {
        display: block;
      }
    }
  }
}
