<div class="filter-by-value-content">
  <h4 class="page-title">Data Filter</h4>
  <form [formGroup]="dataForm" (ngSubmit)="filterData()">
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-2">
        <mat-label>Year</mat-label>
        <mat-select class="form-control" formControlName="year">
          <mat-option value="">Select</mat-option>
          <mat-option [value]="y.year" *ngFor="let y of years">{{y.year}}</mat-option>
        </mat-select>
      </div>
      <div class="col-sm-2">
        <mat-label>Month</mat-label>
        <mat-select class="form-control" formControlName="month" (selectionChange)="populateWeeks($event)">
          <mat-option value="">Select</mat-option>
          <ng-container *ngIf="dataForm.get('year').value !== null && dataForm.get('year').value !== ''">
            <mat-option [value]="month" *ngFor="let month of months">{{month}}</mat-option>
          </ng-container>
        </mat-select>
      </div>
      <div class="col-sm-2">
        <mat-label>Week</mat-label>
        <mat-select class="form-control" formControlName="week">
          <mat-option value="">Select</mat-option>
          <ng-container *ngIf="dataForm.get('month').value !== null && dataForm.get('month').value !== ''">
            <mat-option [value]="week" *ngFor="let week of weeks">{{week}}</mat-option>
          </ng-container>
        </mat-select>
      </div>
      <div class="col-sm-2">
        <mat-label>Office</mat-label>
        <mat-select class="form-control" formControlName="office" (selectionChange)="fetchRepsByOffice($event.value);">
          <mat-option value="">Select</mat-option>
          <mat-option value="all">All Office</mat-option>
          <mat-option *ngFor="let office of offices" [value]="office.id">{{office.name}}</mat-option>
        </mat-select>
      </div>
      <div class="col-sm-2">
        <mat-label>Rep</mat-label>
        <mat-select class="form-control" formControlName="rep">
          <mat-option value="">Select</mat-option>
          <mat-option value="all">All Rep</mat-option>
          <mat-option *ngFor="let rep of reps" [value]="rep.id">{{rep.repName}}</mat-option>
        </mat-select>
      </div>
      <div class="col-sm-1"></div>
    </div>

    <div class="row justify-center button-container">
      <button mat-raised-button type="submit" [disabled]="!dataForm.valid">Search</button>
      <button mat-raised-button type="button" [disabled]="!dataForm.valid" (click)="resetForm()">Clear Filters</button>
    </div>
  </form>

  <div class="row data-table-wrapper">
    <div class="mat-elevation-z8 col-sm-12 data-table" [ngClass]="{'showTableWrapper': isDataLoaded}">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>
  
        <ng-container matColumnDef="officeName">
          <th mat-header-cell *matHeaderCellDef> Office </th>
          <td mat-cell *matCellDef="let element"> {{element.officeName}} </td>
        </ng-container>
  
        <ng-container matColumnDef="repId">
          <th mat-header-cell *matHeaderCellDef> RepID </th>
          <td mat-cell *matCellDef="let element"> {{element.repId}} </td>
        </ng-container>
  
        <ng-container matColumnDef="repName">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.repName}} </td>
        </ng-container>
  
        <ng-container matColumnDef="vehicle">
          <th mat-header-cell *matHeaderCellDef> Vehicle </th>
          <td mat-cell *matCellDef="let element"> {{element.vehicle}} </td>
        </ng-container>
  
        <ng-container matColumnDef="sold">
          <th mat-header-cell *matHeaderCellDef> Sold </th>
          <td mat-cell *matCellDef="let element"> {{element.sold}} </td>
        </ng-container>
  
        <ng-container matColumnDef="pulled">
          <th mat-header-cell *matHeaderCellDef> Pulled </th>
          <td mat-cell *matCellDef="let element"> {{element.pulled}} </td>
        </ng-container>
  
        <ng-container matColumnDef="newClients">
          <th mat-header-cell *matHeaderCellDef> New Clients </th>
          <td mat-cell *matCellDef="let element"> {{element.newClients}} </td>
        </ng-container>
  
        <ng-container matColumnDef="credit">
          <th mat-header-cell *matHeaderCellDef> Credit </th>
          <td mat-cell *matCellDef="let element"> {{element.credit}} </td>
        </ng-container>
  
        <ng-container matColumnDef="balance">
          <th mat-header-cell *matHeaderCellDef> Balance </th>
          <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
        </ng-container>

        <ng-container matColumnDef="inuse">
          <th mat-header-cell *matHeaderCellDef> In </th>
          <td mat-cell *matCellDef="let element"> {{element.inuse}} </td>
        </ng-container>

        <ng-container matColumnDef="day1">
          <th mat-header-cell *matHeaderCellDef> Day 1 </th>
          <td mat-cell *matCellDef="let element"> {{element.day1}} </td>
        </ng-container>

        <ng-container matColumnDef="day2">
          <th mat-header-cell *matHeaderCellDef> Day 2 </th>
          <td mat-cell *matCellDef="let element"> {{element.day2}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;">
        </tr>
      </table>
      <mat-paginator [pageSize]="200" showFirstLastButtons></mat-paginator>
    </div>
    <ng-container *ngIf="!isDataLoaded && !isFilterCleared">
      <p *ngIf="isSearchStarted" class="placeholderText">{{placeHolder}}</p>
    </ng-container>
    <mat-progress-spinner
      *ngIf="isSearchStarted && !isDataLoaded && !isFilterCleared"
      class="app-spinner"
      mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <div class="split-data-wrapper" *ngIf="isDataLoaded">
    <div class="row justify-center">
      <h5 class="pageTitle">Split</h5>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-2">
        <mat-label>Cash</mat-label>
        <input matInput class="form-control" readonly [value]="splitCash | number: '1.0-2'">
      </div>
      <div class="col-2">
        <mat-label>Card</mat-label>
        <input matInput class="form-control" readonly [value]="splitCard | number: '1.0-2'">
      </div>
      <div class="col-2">
        <mat-label>Total Split</mat-label>
        <input matInput class="form-control" readonly [value]="totalSplit | number: '1.0-2'">
      </div>
      <div class="col-2">
        <mat-label>Booke</mat-label>
        <input matInput class="form-control" readonly [value]="totalVehicles">
      </div>
      <div class="col-2"></div>
    </div>
  </div>

  <div class="total-data-wrapper" *ngIf="isDataLoaded">
    <div class="row justify-center">
      <h5 class="pageTitle">Totals for listed items</h5>
    </div>

    <div class="row">
      <div class="col-2"></div>
      <div class="col-2">
        <mat-label>Total Pulled</mat-label>
        <input matInput class="form-control" readonly [value]="totalPulled">
      </div>
      <div class="col-2">
        <mat-label>Total New Clients</mat-label>
        <input matInput class="form-control" readonly [value]="totalNewClients">
      </div>
      <div class="col-2">
        <mat-label>Total Credit</mat-label>
        <input matInput class="form-control" readonly [value]="totalCredit | number: '1.0-2'">
      </div>
      <div class="col-2">
        <mat-label>Total Vehicles In Use</mat-label>
        <input matInput class="form-control" readonly [value]="totalVehicles">
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>