@import "../../../assets/scss/variables.scss";

.rep-container {
  .page-title {
    margin: 1rem 0 3rem 0;
    text-align: center;
    color: $primary-color;
    font-weight: 700;
  }

  .rep-data-container {
    position: relative;
    table {
      width: 100%;
    }
  }

  .action-container {
    .add-data-wrapper {
      margin: 0;
      .form-group {
        width: 100%;
      }

      .field-title {
        margin-bottom: 0.5rem;
      }

      input {
        width: 100%;
        padding: 0.5rem;
      }

      .error-message {
        text-align: center;
        font-size: 0.9rem;
        margin-top: 0.5rem;
      }
    }

    .button-wrapper {
      margin: 1rem 0 0 0;

      > div {
        display: flex;
        justify-content: space-evenly;

        &.clear-button {
          justify-content: center;
          margin: 2rem 0;
        }
      }
    }
  }
}
