<div class="rep-container">
  <h4 class="page-title col">Rep Data</h4>
  <div class="row">
    <div class="rep-data-container col-sm-8">
      <div class="mat-elevation-z8" *ngIf="dataLoaded; else placeholderText">
        <table mat-table [dataSource]="repDataSource" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
          </ng-container>

          <ng-container matColumnDef="repName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.repName}} </td>
          </ng-container>

          <ng-container matColumnDef="officeName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Default Office </th>
            <td mat-cell *matCellDef="let element"> {{element.officeName}} </td>
          </ng-container>

          <ng-container matColumnDef="vehicleName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Default Vehicle </th>
            <td mat-cell *matCellDef="let element"> {{element.vehicleName}} </td>
          </ng-container>

          <ng-container matColumnDef="balance">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Balance B </th>
            <td mat-cell *matCellDef="let element"> {{element.balance}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns; let i = index"
            (click)="populateData(row, i)"
            [ngClass]="{'highlight-row': i === selectedIndex}">
          </tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 30, 50, 100]" showFirstLastButtons></mat-paginator>
      </div>
      <ng-template #placeholderText>
        <p class="placeholderText">{{placeHolderText}}</p>
      </ng-template>
      <mat-progress-spinner
        *ngIf="!dataLoaded"
        class="app-spinner"
        mode="indeterminate">
      </mat-progress-spinner>
    </div>
    <div class="action-container col-sm-4">
      <form [formGroup]="repForm">
        <div class="row add-data-wrapper">
          <div class="form-group">
            <div class="field-title">ID</div>
            <input matInput formControlName="id" class="form-control custom-border">
          </div>
        </div>
        <div class="row add-data-wrapper">
          <div class="form-group">
            <div class="field-title">Name</div>
            <input matInput formControlName="repName" class="form-control custom-border">
          </div>
        </div>
        <div class="row add-data-wrapper">
          <div class="form-group">
            <div class="field-title">Balance</div>
            <input matInput formControlName="balance" class="form-control custom-border">
          </div>
        </div>
        <div class="row add-data-wrapper">
          <div class="form-group">
            <div class="field-title">Office</div>
            <mat-select formControlName="officeName" class="form-control">
              <mat-option value="">Select</mat-option>
              <mat-option *ngFor="let office of offices" [value]="office.id">{{office.name}}</mat-option>
            </mat-select>
          </div>
        </div>
        <div class="row add-data-wrapper">
          <div class="form-group">
            <div class="field-title">Vehicle</div>
            <mat-select formControlName="vehicleName" class="form-control">
              <mat-option value="">Select</mat-option>
              <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle.id">{{vehicle.name}}</mat-option>
            </mat-select>
          </div>
        </div>
      </form>
      <div class="row button-wrapper">
        <div class="col-sm-12">
          <button mat-raised-button [disabled]="!repForm.valid" (click)="addRep()">Add</button>
          <button mat-raised-button [disabled]="!repForm.valid" (click)="updateRep()">Update</button>
          <button mat-raised-button [disabled]="!repForm.valid" (click)="deleteRep()">Delete</button>
        </div>
        <div class="col-sm-12 clear-button">
          <button mat-raised-button [disabled]="(!repForm.valid) || (!repForm.dirty && !repForm.valid)" (click)="clearSelection()">Clear</button>
        </div>
      </div>
    </div>
  </div>
</div>
