@import "../../../assets/scss/variables.scss";

.welcome-container {
  height: 78vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .welcome-content {
    text-align: center;
    button {
      margin-top: 2rem;
      background-color: $primary-color;
      color: $white;
    }
  }
}