<div class="add-data-container">
  <h4 class="page-title">Add Data</h4>
  <div class="filter-type-container">
    <div class="filter-by-dateOffice-content">
      <div class="row justify-center">
        <h5 class="subHeader">Entering Daily Data</h5>
      </div>

      <form [formGroup]="dataEntryForm" class="data-entry-container">
        <div class="row justify-center">
          <div class="col-sm-2">
            <mat-label class="subHeader">Office</mat-label>
            <mat-select class="form-control" formControlName="office" (selectionChange)="fetchRepsByOffice($event.value)">
              <mat-option value="">Select</mat-option>
              <mat-option *ngFor="let office of doFilter.offices" [value]="office.id">{{office.name}}</mat-option>
            </mat-select>
          </div>
          <div class="col-sm-2">
            <mat-label class="subHeader">Rep</mat-label>
            <mat-select class="form-control" formControlName="rep">
              <mat-option value="">Select</mat-option>
              <mat-option *ngFor="let rep of doFilter.reps" [value]="rep.id">{{rep.repName}}</mat-option>
            </mat-select>
          </div>
          <div class="col-sm-2 date-wrapper">
            <mat-label class="subHeader">Date</mat-label>
            <input matInput
              [matDatepicker]="dp"
              placeholder="Pick a Date"
              class="form-control"
              formControlName="date"
              [max]="maxDate"
              (click)="dp.open()">
            <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp></mat-datepicker>
          </div>
          <div class="col-sm-2">
            <div class="check-wrapper">
              <button mat-raised-button (click)="checkRecord()" 
                [disabled]="!dataEntryForm.get('rep').valid || !dataEntryForm.get('office').valid || !dataEntryForm.get('date').valid">
              Search
              </button>
            </div>
          </div>
        </div>

        <div class="row justify-center rep-data-wrapper">
          <div class="row justify-center">
            <mat-label class="subHeader">Rep Data</mat-label>
          </div>
          <div class="row justify-center">
            <div class="col-1">
              <mat-label>Sold</mat-label>
              <input matInput class="form-control" formControlName="repSold">
            </div>
            <div class="col-1">
              <mat-label>Pulled</mat-label>
              <input matInput class="form-control" formControlName="repPulled">
            </div>
            <div class="col-1">
              <mat-label>N/C</mat-label>
              <input matInput class="form-control" formControlName="repNC">
            </div>
            <div class="col-1">
              <mat-label>Credit</mat-label>
              <input matInput class="form-control" formControlName="repCredit">
            </div>
            <div class="col-1">
              <mat-label>Int</mat-label>
              <input matInput class="form-control" formControlName="repInt">
            </div>
            <div class="col-1">
              <mat-label>Day 1</mat-label>
              <input matInput class="form-control" formControlName="repDay1">
            </div>
            <div class="col-1">
              <mat-label>Day 2</mat-label>
              <input matInput class="form-control" formControlName="repDay2">
            </div>
            <div class="col-1">
              <mat-label>Balance</mat-label>
              <input matInput class="form-control" formControlName="repBalance">
            </div>
            <div class="col-1">
              <mat-label>Balance B</mat-label>
              <input matInput class="form-control" formControlName="repBalanceB">
            </div>
            <div class="col-sm-2">
              <mat-label>Vehicle</mat-label>
              <mat-select class="form-control" formControlName="repVehicle">
                <mat-option value="">Select</mat-option>
                <mat-option value="own">Own</mat-option>
                <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle.id">{{vehicle.name}}</mat-option>
              </mat-select>
            </div>
          </div>
        </div>

        <div class="row justify-center button-container">
          <button mat-raised-button (click)="chooseRecordAction()" [disabled]="!isEnableSaveRecord">Save Record</button>
        </div>

        <div class="row justify-center office-data-wrapper">
          <div class="row justify-center">
            <mat-label class="subHeader">Office Data</mat-label>
          </div>
          <div class="row justify-center">
            <div class="col-1">
              <mat-label>Sold</mat-label>
              <input matInput class="form-control" readonly formControlName="officeSold">
            </div>
            <div class="col-1">
              <mat-label>Pulled</mat-label>
              <input matInput class="form-control" readonly formControlName="officePulled">
            </div>
            <div class="col-1">
              <mat-label>N/C</mat-label>
              <input matInput class="form-control" readonly formControlName="officeNewClients">
            </div>
            <div class="col-2">
              <mat-label>Credit</mat-label>
              <input matInput class="form-control" readonly formControlName="officeCredit">
            </div>
            <div class="col-1">
              <mat-label>Int</mat-label>
              <input matInput class="form-control" readonly formControlName="officeInt">
            </div>
            <div class="col-1">
              <mat-label>Day 1</mat-label>
              <input matInput class="form-control" readonly formControlName="officeDay1">
            </div>
            <div class="col-1">
              <mat-label>Day 2</mat-label>
              <input matInput class="form-control" readonly formControlName="officeDay2">
            </div>
          </div>
        </div>

        <div class="row justify-center">
          <div class="col-2">
            <mat-label>Cash/Cheque</mat-label>
            <input matInput class="form-control" formControlName="cash">
          </div>
          <div class="col-2">
            <mat-label>Card Machine</mat-label>
            <input matInput class="form-control"  formControlName="cards">
          </div>
          <div class="col-2">
            <mat-label>Total</mat-label>
            <input matInput class="form-control" formControlName="totalPayment" readonly>
          </div>
          <div class="col-2">
            <mat-label>Vehicles in use</mat-label>
            <input matInput class="form-control" formControlName="viu">
          </div>
        </div>

        <div class="row justify-center button-container">
          <button mat-raised-button (click)="saveSplit()" [disabled]="!isEnableSaveRecord">Save Split</button>
          <button mat-raised-button (click)="getKPIData()">Update</button>
        </div>

        <div class="row justify-center">
          <h5 class="subHeader">KPI</h5>
        </div>

        <div class="row justify-center">
          <mat-label class="subHeader">To Date Totals Per Selected Rep</mat-label>
        </div>

        <div class="row justify-center">
          <div class="data-label">
            <mat-label>WT</mat-label>
          </div>
          <div class="col-sm">
            <mat-label>Sold</mat-label>
            <input matInput class="form-control" formControlName="repWSold">
          </div>
          <div class="col-sm">
            <mat-label>Pulled</mat-label>
            <input matInput class="form-control" formControlName="repWPulled">
          </div>
          <div class="col-sm">
            <mat-label>New Clients</mat-label>
            <input matInput class="form-control" formControlName="repWNewClients">
          </div>
          <div class="col-sm">
            <mat-label>Credit</mat-label>
            <input matInput class="form-control" formControlName="repWCredit">
          </div>
          <div class="col-sm">
            <mat-label>Interviews</mat-label>
            <input matInput class="form-control" formControlName="repWInt">
          </div>
          <div class="col-sm">
            <mat-label>Trainees 1</mat-label>
            <input matInput class="form-control" formControlName="repWTra1">
          </div>
          <div class="col-sm">
            <mat-label>Trainees 2</mat-label>
            <input matInput class="form-control" formControlName="repWTra2">
          </div>
        </div>

        <div class="row justify-center">
          <div class="data-label">
            <mat-label>MT</mat-label>
          </div>
          <div class="col-sm">
            <mat-label>Sold</mat-label>
            <input matInput class="form-control" formControlName="repMSold">
          </div>
          <div class="col-sm">
            <mat-label>Pulled</mat-label>
            <input matInput class="form-control" formControlName="repMPulled">
          </div>
          <div class="col-sm">
            <mat-label>New Clients</mat-label>
            <input matInput class="form-control" formControlName="repMNewClients">
          </div>
          <div class="col-sm">
            <mat-label>Credit</mat-label>
            <input matInput class="form-control" formControlName="repMCredit">
          </div>
          <div class="col-sm">
            <mat-label>Interviews</mat-label>
            <input matInput class="form-control" formControlName="repMInt">
          </div>
          <div class="col-sm">
            <mat-label>Trainees 1</mat-label>
            <input matInput class="form-control" formControlName="repMTra1">
          </div>
          <div class="col-sm">
            <mat-label>Trainees 2</mat-label>
            <input matInput class="form-control" formControlName="repMTra2">
          </div>
        </div>

        <div class="row justify-center">
          <div class="data-label">
            <mat-label>YTD</mat-label>
          </div>
          <div class="col-sm">
            <mat-label>Sold</mat-label>
            <input matInput class="form-control" formControlName="repYSold">
          </div>
          <div class="col-sm">
            <mat-label>Pulled</mat-label>
            <input matInput class="form-control" formControlName="repYPulled">
          </div>
          <div class="col-sm">
            <mat-label>New Clients</mat-label>
            <input matInput class="form-control" formControlName="repYNewClients">
          </div>
          <div class="col-sm">
            <mat-label>Credit</mat-label>
            <input matInput class="form-control" formControlName="repYCredit">
          </div>
          <div class="col-sm">
            <mat-label>Interviews</mat-label>
            <input matInput class="form-control" formControlName="repYInt">
          </div>
          <div class="col-sm">
            <mat-label>Trainees 1</mat-label>
            <input matInput class="form-control" formControlName="repYTra1">
          </div>
          <div class="col-sm">
            <mat-label>Trainees 2</mat-label>
            <input matInput class="form-control" formControlName="repYTra2">
          </div>
        </div>

        <div class="row justify-center">
          <mat-label class="subHeader">To Date Totals Per Selected Office</mat-label>
        </div>

        <div class="row justify-center">
          <div class="data-label">
            <mat-label>WT</mat-label>
          </div>
          <div class="col-sm">
            <mat-label>Sold</mat-label>
            <input matInput class="form-control" formControlName="officeWSold">
          </div>
          <div class="col-sm">
            <mat-label>Pulled</mat-label>
            <input matInput class="form-control" formControlName="officeWPulled">
          </div>
          <div class="col-sm">
            <mat-label>New Clients</mat-label>
            <input matInput class="form-control" formControlName="officeWNewClients">
          </div>
          <div class="col-sm">
            <mat-label>Credit</mat-label>
            <input matInput class="form-control" formControlName="officeWCredit">
          </div>
          <div class="col-sm">
            <mat-label>Interviews</mat-label>
            <input matInput class="form-control" formControlName="officeWInt">
          </div>
          <div class="col-sm">
            <mat-label>Trainees 1</mat-label>
            <input matInput class="form-control" formControlName="officeWTra1">
          </div>
          <div class="col-sm">
            <mat-label>Trainees 2</mat-label>
            <input matInput class="form-control" formControlName="officeWTra2">
          </div>
        </div>

        <div class="row justify-center">
          <div class="data-label">
            <mat-label>MT</mat-label>
          </div>
          <div class="col-sm">
            <mat-label>Sold</mat-label>
            <input matInput class="form-control" formControlName="officeMSold">
          </div>
          <div class="col-sm">
            <mat-label>Pulled</mat-label>
            <input matInput class="form-control" formControlName="officeMPulled">
          </div>
          <div class="col-sm">
            <mat-label>New Clients</mat-label>
            <input matInput class="form-control" formControlName="officeMNewClients">
          </div>
          <div class="col-sm">
            <mat-label>Credit</mat-label>
            <input matInput class="form-control" formControlName="officeMCredit">
          </div>
          <div class="col-sm">
            <mat-label>Interviews</mat-label>
            <input matInput class="form-control" formControlName="officeMInt">
          </div>
          <div class="col-sm">
            <mat-label>Trainees 1</mat-label>
            <input matInput class="form-control" formControlName="officeMTra1">
          </div>
          <div class="col-sm">
            <mat-label>Trainees 2</mat-label>
            <input matInput class="form-control" formControlName="officeMTra2">
          </div>
        </div>

        <div class="row justify-center">
          <div class="data-label">
            <mat-label>YTD</mat-label>
          </div>
          <div class="col-sm">
            <mat-label>Sold</mat-label>
            <input matInput class="form-control" formControlName="officeYSold">
          </div>
          <div class="col-sm">
            <mat-label>Pulled</mat-label>
            <input matInput class="form-control" formControlName="officeYPulled">
          </div>
          <div class="col-sm">
            <mat-label>New Clients</mat-label>
            <input matInput class="form-control" formControlName="officeYNewClients">
          </div>
          <div class="col-sm">
            <mat-label>Credit</mat-label>
            <input matInput class="form-control" formControlName="officeYCredit">
          </div>
          <div class="col-sm">
            <mat-label>Interviews</mat-label>
            <input matInput class="form-control" formControlName="officeYInt">
          </div>
          <div class="col-sm">
            <mat-label>Trainees 1</mat-label>
            <input matInput class="form-control" formControlName="officeYTra1">
          </div>
          <div class="col-sm">
            <mat-label>Trainees 2</mat-label>
            <input matInput class="form-control" formControlName="officeYTra2">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>