@import "../../../assets/scss/variables.scss";

.add-data-container {
  .filter-type-container {

    .row {
      margin: 0 0 1rem 0;
    }

    .filter-type-wrapper {
      .filter-type {
        margin-right: 2rem;
      }
    }

    .filter-type-title {
      font-weight: bold;
    }
    
    .data-table-wrapper {
      min-height: 10rem;
      margin: 3rem;

      .data-table {
        padding: 0;
        table {
          width: 100%;
        }
      }

      .mat-progress-spinner {
        top: 48%;
      }

      .placeholderText {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
      }
    }

    .justify-center {
      justify-content: center;
    }

    .filter-by-value-content {
      margin-top: 2rem;
      .button-container {
        margin-top: 2rem;
        button {
          margin-right: 1rem;
        }
      }

      mat-label {
        margin-bottom: 1rem;
        display: block;
        text-align: center;
      }

      .split-data-wrapper {
        margin-top: 2rem;
        .pageTitle {
          color: $primary-color;
        }
      }

      .total-data-wrapper {
        margin-top: 2rem;
        .pageTitle {
          color: $primary-color;
        }
      }
    }

    .filter-by-dateOffice-content {
      .button-container {
        margin-top: 3rem;
        button {
          margin-right: 1rem;
        }
      }

      mat-label {
        margin-bottom: 1rem;
        display: block;
        text-align: center;
      }

      .subHeader {
        font-weight: bold;
        color: $primary-color;
        margin-top: 2rem;
      }

      .officeDataForm {
        margin-top: 2rem;
      }
    }
  }
}